<div id="content" class="site-content">
          <div id="primary" class="content-area">
            <main id="main" class="site-main">
              <article
                id="post-45"
                class="post-45 post type-post status-publish format-standard has-post-thumbnail hentry category-travel tag-book tag-design tag-lifestyle tag-music"
              >
                <a
                  class="post-thumbnail"
                  href="http://nordthemes.com/iceberg/five-tips-how-to-be-creative-and-productive/"
                  aria-hidden="true"
                >
                  <img
                    width="1200"
                    height="750"
                    src="./img/neonbrand-tokYjYqaPB0-unsplash-1200x750.jpg"
                    class="attachment-iceberg-post-thumbnail-crop size-iceberg-post-thumbnail-crop wp-post-image"
                    alt="Five Tips How to Be Creative and Productive"
                  />
                </a>
                <div class="inner-box">
                  <div class="content-container">
                    <header class="entry-header">
                      <div class="entry-categories">
                        <div class="entry-categories-inner">
                          <span class="screen-reader-text">Categories</span
                          ><a
                            href="http://nordthemes.com/iceberg/category/travel/"
                            class="category-1"
                            >Travel</a
                          >
                        </div>
                      </div>
                      <h2 class="entry-title">
                        <a
                          href="http://nordthemes.com/iceberg/five-tips-how-to-be-creative-and-productive/"
                          rel="bookmark"
                          >Five Tips How to Be Creative and Productive</a
                        >
                      </h2>
                      <div class="post-meta">
                        <span class="posted-on"
                          >Posted on
                          <span
                            class="entry-date published"
                            datetime="2018-10-19T10:39:31+00:00"
                            >October 19, 2018</span
                          ></span
                        ><span class="byline author vcard"
                          >by
                          <a
                            class="url fn"
                            href="http://nordthemes.com/iceberg/author/admin/"
                            >John Wood</a
                          ></span
                        >
                      </div>
                    </header>
                    <div class="entry-content">
                      <p>
                        How to be creative? This is a question a lot of people
                        must have asked themselves. And if you want to boost
                        your creativity level, you definitely need to continue
                        reading this article, where some tips are presented.
                      </p>
                      <p>
                        First of all, be open to any creative venture. The world
                        is full of chances, the only thing you have to do is to
                        get rid of all the indolence and be eager to implement
                        one of those. Nothing ventured, nothing gained! Don’t be
                        too pernickety when a shot comes up, just use it!
                        Remember: It’s better to try and fail that to have never
                        tried at all.
                      </p>
                      <div class="read-more-button-wrap">
                        <a
                          href="http://nordthemes.com/iceberg/five-tips-how-to-be-creative-and-productive/#more-45"
                          class="more-link"
                          >Continue reading
                          <span class="screen-reader-text"
                            >“Five Tips How to Be Creative and Productive”</span
                          ></a
                        >
                      </div>
                    </div>
                  </div>
                </div>
              </article>
              <article
                id="post-38"
                class="post-38 post type-post status-publish format-gallery has-post-thumbnail hentry category-photography tag-gallery tag-news tag-photo tag-video post_format-post-format-gallery"
              >
                <div class="entry-format entry-format-gallery">
                  <div
                    class="swiper iceberg-swiper swiper-initialized swiper-horizontal swiper-pointer-events swiper-autoheight"
                    aria-roledescription="carousel"
                    aria-label="Image Carousel"
                  >
                    <div
                      class="swiper-wrapper"
                      id="swiper-wrapper-316f5106185eb93f9"
                      aria-live="off"
                      style="
                        height: 471px;
                        transform: translate3d(-1412px, 0px, 0px);
                        transition-duration: 0ms;
                      "
                    >
                      <div
                        class="gallery-image swiper-slide swiper-slide-duplicate swiper-slide-duplicate-next"
                        data-swiper-slide-index="2"
                        aria-roledescription="slide"
                        role="group"
                        aria-label="3 / 3"
                        style="width: 706px"
                      >
                        <img
                          width="1200"
                          height="800"
                          src="./img/katie-treadway-253591-unsplash-1200x800.jpg"
                          class="attachment-post-thumbnail size-post-thumbnail"
                          alt=""
                          loading="lazy"
                          srcset="
                            http://nordthemes.com/iceberg/wp-content/uploads/sites/4/2018/10/katie-treadway-253591-unsplash-1200x800.jpg 1200w,
                            http://nordthemes.com/iceberg/wp-content/uploads/sites/4/2018/10/katie-treadway-253591-unsplash-300x200.jpg   300w,
                            http://nordthemes.com/iceberg/wp-content/uploads/sites/4/2018/10/katie-treadway-253591-unsplash-768x512.jpg   768w,
                            http://nordthemes.com/iceberg/wp-content/uploads/sites/4/2018/10/katie-treadway-253591-unsplash-1024x683.jpg 1024w
                          "
                          sizes="(max-width: 1200px) 100vw, 1200px"
                        />
                      </div>
                      <div
                        class="gallery-image swiper-slide swiper-slide-prev"
                        data-swiper-slide-index="0"
                        aria-roledescription="slide"
                        role="group"
                        aria-label="1 / 3"
                        style="width: 706px"
                      >
                        <img
                          width="1200"
                          height="800"
                          src="./img/a97c4a1614b53d6f55ae2464b06ba6aa-1200x800.jpg"
                          class="attachment-post-thumbnail size-post-thumbnail"
                          alt=""
                          loading="lazy"
                          srcset="
                            http://nordthemes.com/iceberg/wp-content/uploads/sites/4/2015/12/a97c4a1614b53d6f55ae2464b06ba6aa-1200x800.jpg 1200w,
                            http://nordthemes.com/iceberg/wp-content/uploads/sites/4/2015/12/a97c4a1614b53d6f55ae2464b06ba6aa-300x200.jpg   300w,
                            http://nordthemes.com/iceberg/wp-content/uploads/sites/4/2015/12/a97c4a1614b53d6f55ae2464b06ba6aa-768x512.jpg   768w,
                            http://nordthemes.com/iceberg/wp-content/uploads/sites/4/2015/12/a97c4a1614b53d6f55ae2464b06ba6aa-1024x683.jpg 1024w
                          "
                          sizes="(max-width: 1200px) 100vw, 1200px"
                        />
                      </div>
                      <div
                        class="gallery-image swiper-slide swiper-slide-active"
                        data-swiper-slide-index="1"
                        aria-roledescription="slide"
                        role="group"
                        aria-label="2 / 3"
                        style="width: 706px"
                      >
                        <img
                          width="1200"
                          height="800"
                          src="./img/photo-1472157592780-9e5265f17f8f-2-1200x800.jpeg"
                          class="attachment-post-thumbnail size-post-thumbnail"
                          alt=""
                          loading="lazy"
                          srcset="
                            http://nordthemes.com/iceberg/wp-content/uploads/sites/4/2015/12/photo-1472157592780-9e5265f17f8f-2-1200x800.jpeg 1200w,
                            http://nordthemes.com/iceberg/wp-content/uploads/sites/4/2015/12/photo-1472157592780-9e5265f17f8f-2-300x200.jpeg   300w,
                            http://nordthemes.com/iceberg/wp-content/uploads/sites/4/2015/12/photo-1472157592780-9e5265f17f8f-2-768x512.jpeg   768w,
                            http://nordthemes.com/iceberg/wp-content/uploads/sites/4/2015/12/photo-1472157592780-9e5265f17f8f-2-1024x683.jpeg 1024w
                          "
                          sizes="(max-width: 1200px) 100vw, 1200px"
                        />
                      </div>
                      <div
                        class="gallery-image swiper-slide swiper-slide-next"
                        data-swiper-slide-index="2"
                        aria-roledescription="slide"
                        role="group"
                        aria-label="3 / 3"
                        style="width: 706px"
                      >
                        <img
                          width="1200"
                          height="800"
                          src="./img/katie-treadway-253591-unsplash-1200x800.jpg"
                          class="attachment-post-thumbnail size-post-thumbnail"
                          alt=""
                          loading="lazy"
                          srcset="
                            http://nordthemes.com/iceberg/wp-content/uploads/sites/4/2018/10/katie-treadway-253591-unsplash-1200x800.jpg 1200w,
                            http://nordthemes.com/iceberg/wp-content/uploads/sites/4/2018/10/katie-treadway-253591-unsplash-300x200.jpg   300w,
                            http://nordthemes.com/iceberg/wp-content/uploads/sites/4/2018/10/katie-treadway-253591-unsplash-768x512.jpg   768w,
                            http://nordthemes.com/iceberg/wp-content/uploads/sites/4/2018/10/katie-treadway-253591-unsplash-1024x683.jpg 1024w
                          "
                          sizes="(max-width: 1200px) 100vw, 1200px"
                        />
                      </div>
                      <div
                        class="gallery-image swiper-slide swiper-slide-duplicate swiper-slide-duplicate-prev"
                        data-swiper-slide-index="0"
                        aria-roledescription="slide"
                        role="group"
                        aria-label="1 / 3"
                        style="width: 706px"
                      >
                        <img
                          width="1200"
                          height="800"
                          src="./img/a97c4a1614b53d6f55ae2464b06ba6aa-1200x800.jpg"
                          class="attachment-post-thumbnail size-post-thumbnail"
                          alt=""
                          loading="lazy"
                          srcset="
                            http://nordthemes.com/iceberg/wp-content/uploads/sites/4/2015/12/a97c4a1614b53d6f55ae2464b06ba6aa-1200x800.jpg 1200w,
                            http://nordthemes.com/iceberg/wp-content/uploads/sites/4/2015/12/a97c4a1614b53d6f55ae2464b06ba6aa-300x200.jpg   300w,
                            http://nordthemes.com/iceberg/wp-content/uploads/sites/4/2015/12/a97c4a1614b53d6f55ae2464b06ba6aa-768x512.jpg   768w,
                            http://nordthemes.com/iceberg/wp-content/uploads/sites/4/2015/12/a97c4a1614b53d6f55ae2464b06ba6aa-1024x683.jpg 1024w
                          "
                          sizes="(max-width: 1200px) 100vw, 1200px"
                        />
                      </div>
                    </div>
                    <div
                      class="swiper-button-prev"
                      tabindex="0"
                      role="button"
                      aria-label="Previous slide"
                      aria-controls="swiper-wrapper-316f5106185eb93f9"
                    >
                      <svg
                        class="svg-icon"
                        aria-hidden="true"
                        role="img"
                        focusable="false"
                        xmlns="http://www.w3.org/2000/svg"
                        width="20"
                        height="20"
                        viewBox="0 0 768 768"
                      >
                        <path
                          d="M502.624 553.376l-169.376-169.376 169.376-169.376c12.512-12.512 12.512-32.768 0-45.248s-32.768-12.512-45.248 0l-192 192c-12.512 12.512-12.512 32.768 0 45.248l192 192c12.512 12.512 32.768 12.512 45.248 0s12.512-32.768 0-45.248z"
                        ></path>
                      </svg>
                    </div>
                    <div
                      class="swiper-button-next"
                      tabindex="0"
                      role="button"
                      aria-label="Next slide"
                      aria-controls="swiper-wrapper-316f5106185eb93f9"
                    >
                      <svg
                        class="svg-icon"
                        aria-hidden="true"
                        role="img"
                        focusable="false"
                        xmlns="http://www.w3.org/2000/svg"
                        width="20"
                        height="20"
                        viewBox="0 0 768 768"
                      >
                        <path
                          d="M310.624 598.624l192-192c12.512-12.512 12.512-32.768 0-45.248l-192-192c-12.512-12.512-32.768-12.512-45.248 0s-12.512 32.768 0 45.248l169.376 169.376-169.376 169.376c-12.512 12.512-12.512 32.768 0 45.248s32.768 12.512 45.248 0z"
                        ></path>
                      </svg>
                    </div>
                    <div
                      class="swiper-pagination swiper-pagination-clickable swiper-pagination-bullets swiper-pagination-horizontal"
                    >
                      <span
                        class="swiper-pagination-bullet"
                        tabindex="0"
                        role="button"
                        aria-label="Go to slide 1"
                      ></span
                      ><span
                        class="swiper-pagination-bullet swiper-pagination-bullet-active"
                        tabindex="0"
                        role="button"
                        aria-label="Go to slide 2"
                        aria-current="true"
                      ></span
                      ><span
                        class="swiper-pagination-bullet"
                        tabindex="0"
                        role="button"
                        aria-label="Go to slide 3"
                      ></span>
                    </div>
                    <span
                      class="swiper-notification"
                      aria-live="assertive"
                      aria-atomic="true"
                    ></span>
                  </div>
                </div>
                <div class="inner-box">
                  <div class="content-container">
                    <header class="entry-header">
                      <div class="entry-categories">
                        <div class="entry-categories-inner">
                          <span class="screen-reader-text">Categories</span
                          ><a
                            href="http://nordthemes.com/iceberg/category/photography/"
                            class="category-20"
                            >Photography</a
                          >
                        </div>
                      </div>
                      <h2 class="entry-title">
                        <a
                          href="http://nordthemes.com/iceberg/how-to-prepare-yourself-for-the-exam/"
                          rel="bookmark"
                          >How To: Prepare Yourself For The Exam</a
                        >
                      </h2>
                      <div class="post-meta">
                        <span class="posted-on"
                          >Posted on
                          <span
                            class="entry-date published"
                            datetime="2018-10-18T10:35:06+00:00"
                            >October 18, 2018</span
                          ></span
                        ><span class="byline author vcard"
                          >by
                          <a
                            class="url fn"
                            href="http://nordthemes.com/iceberg/author/admin/"
                            >John Wood</a
                          ></span
                        >
                      </div>
                    </header>
                    <div class="entry-content">
                      <p></p>
                      <p>
                        Just remind yourself how many times you have already
                        checked an alarm clock in order to check it again.
                        Typical. Maybe after that go to bed dreaming about a
                        better life without complications such as exams and
                        throbbing headache. And, of course, the main thing – do
                        not forget to have a sleepless night. Done? Done.
                      </p>
                      <p>
                        Yes, you know what I’m talking about and if you are not
                        happened to be the type of person caring less or not
                        caring at all, then the Justice Day can bring a good
                        deal of disappointment to you. We are not doing it,
                        right?
                      </p>
                      <div class="read-more-button-wrap">
                        <a
                          href="http://nordthemes.com/iceberg/how-to-prepare-yourself-for-the-exam/#more-38"
                          class="more-link"
                          >Continue reading
                          <span class="screen-reader-text"
                            >“How To: Prepare Yourself For The Exam”</span
                          ></a
                        >
                      </div>
                    </div>
                  </div>
                </div>
              </article>
              <article
                id="post-35"
                class="post-35 post type-post status-publish format-video has-post-thumbnail hentry category-lifestyle tag-movies tag-summer tag-travel post_format-post-format-video"
              >
                <div class="entry-format entry-format-video">
                  <div style="width: 1180px" class="wp-video">
                    <!--[if lt IE 9
                      ]><script>
                        document.createElement("video");
                      </script><!
                    [endif]--><span class="mejs-offscreen">Video Player</span>
                    <div
                      id="mep_0"
                      class="mejs-container mejs-container-keyboard-inactive wp-video-shortcode mejs-video"
                      tabindex="0"
                      role="application"
                      aria-label="Video Player"
                      style="
                        width: 706.297px;
                        height: 397.292px;
                        min-width: 216px;
                      "
                    >
                      <div class="mejs-inner">
                        <div class="mejs-mediaelement">
                          <mediaelementwrapper id="video-35-1"
                            ><video
                              class="wp-video-shortcode"
                              id="video-35-1_html5"
                              width="1180"
                              height="664"
                              poster="http://nordthemes.com/iceberg/wp-content/uploads/sites/4/2018/10/screen.jpg"
                              preload="metadata"
                              src="http://nordthemes.com/wp-content/uploads/2015/12/instagram.mp4?_=1"
                              style="width: 706.297px; height: 397.292px"
                            >
                              <source
                                type="video/mp4"
                                src="http://nordthemes.com/wp-content/uploads/2015/12/instagram.mp4?_=1"
                              />
                              <a
                                href="http://nordthemes.com/wp-content/uploads/2015/12/instagram.mp4"
                                >http://nordthemes.com/wp-content/uploads/2015/12/instagram.mp4</a
                              >
                            </video></mediaelementwrapper
                          >
                        </div>
                        <div class="mejs-layers">
                          <div
                            class="mejs-poster mejs-layer"
                            style="
                              background-image: url('http://nordthemes.com/iceberg/wp-content/uploads/sites/4/2018/10/screen.jpg');
                              width: 100%;
                              height: 100%;
                            "
                          >
                            <img
                              class="mejs-poster-img"
                              width="0"
                              height="0"
                              src="./img/screen.jpg"
                            />
                          </div>
                          <div
                            class="mejs-overlay mejs-layer"
                            style="width: 100%; height: 100%; display: none"
                          >
                            <div class="mejs-overlay-loading">
                              <span class="mejs-overlay-loading-bg-img"></span>
                            </div>
                          </div>
                          <div
                            class="mejs-overlay mejs-layer"
                            style="display: none; width: 100%; height: 100%"
                          >
                            <div class="mejs-overlay-error"></div>
                          </div>
                          <div
                            class="mejs-overlay mejs-layer mejs-overlay-play"
                            style="width: 100%; height: 100%"
                          >
                            <div
                              class="mejs-overlay-button"
                              role="button"
                              tabindex="0"
                              aria-label="Play"
                              aria-pressed="false"
                            ></div>
                          </div>
                        </div>
                        <div class="mejs-controls">
                          <div
                            class="mejs-button mejs-playpause-button mejs-play"
                          >
                            <button
                              type="button"
                              aria-controls="mep_0"
                              title="Play"
                              aria-label="Play"
                              tabindex="0"
                            ></button>
                          </div>
                          <div
                            class="mejs-time mejs-currenttime-container"
                            role="timer"
                            aria-live="off"
                          >
                            <span class="mejs-currenttime">00:00</span>
                          </div>
                          <div class="mejs-time-rail">
                            <span
                              class="mejs-time-total mejs-time-slider"
                              role="slider"
                              tabindex="0"
                              aria-label="Time Slider"
                              aria-valuemin="0"
                              aria-valuemax="69.335"
                              aria-valuenow="0"
                              aria-valuetext="00:00"
                              ><span
                                class="mejs-time-buffering"
                                style="display: none"
                              ></span
                              ><span
                                class="mejs-time-loaded"
                                style="transform: scaleX(0.0142785)"
                              ></span
                              ><span
                                class="mejs-time-current"
                                style="transform: scaleX(0)"
                              ></span
                              ><span class="mejs-time-hovered no-hover"></span
                              ><span
                                class="mejs-time-handle"
                                style="transform: translateX(0px)"
                                ><span
                                  class="mejs-time-handle-content"
                                ></span></span
                              ><span class="mejs-time-float"
                                ><span class="mejs-time-float-current"
                                  >00:00</span
                                ><span
                                  class="mejs-time-float-corner"
                                ></span></span
                            ></span>
                          </div>
                          <div class="mejs-time mejs-duration-container">
                            <span class="mejs-duration">01:09</span>
                          </div>
                          <div class="mejs-button mejs-volume-button mejs-mute">
                            <button
                              type="button"
                              aria-controls="mep_0"
                              title="Mute"
                              aria-label="Mute"
                              tabindex="0"
                            ></button
                            ><a
                              href="javascript:void(0);"
                              class="mejs-volume-slider"
                              aria-label="Volume Slider"
                              aria-valuemin="0"
                              aria-valuemax="100"
                              role="slider"
                              aria-orientation="vertical"
                              aria-valuenow="80"
                              aria-valuetext="80%"
                              ><span class="mejs-offscreen"
                                >Use Up/Down Arrow keys to increase or decrease
                                volume.</span
                              >
                              <div class="mejs-volume-total">
                                <div
                                  class="mejs-volume-current"
                                  style="bottom: 0px; height: 80%"
                                ></div>
                                <div
                                  class="mejs-volume-handle"
                                  style="bottom: 80%; margin-bottom: -3px"
                                ></div></div
                            ></a>
                          </div>
                          <div class="mejs-button mejs-fullscreen-button">
                            <button
                              type="button"
                              aria-controls="mep_0"
                              title="Fullscreen"
                              aria-label="Fullscreen"
                              tabindex="0"
                            ></button>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="inner-box">
                  <div class="content-container">
                    <header class="entry-header">
                      <div class="entry-categories">
                        <div class="entry-categories-inner">
                          <span class="screen-reader-text">Categories</span
                          ><a
                            href="http://nordthemes.com/iceberg/category/lifestyle/"
                            class="category-4"
                            >Lifestyle</a
                          >
                        </div>
                      </div>
                      <h2 class="entry-title">
                        <a
                          href="http://nordthemes.com/iceberg/distance-of-365-days/"
                          rel="bookmark"
                          >Memories From the Last Summer</a
                        >
                      </h2>
                      <div class="post-meta">
                        <span class="posted-on"
                          >Posted on
                          <span
                            class="entry-date published"
                            datetime="2018-10-17T10:33:33+00:00"
                            >October 17, 2018</span
                          ></span
                        ><span class="byline author vcard"
                          >by
                          <a
                            class="url fn"
                            href="http://nordthemes.com/iceberg/author/admin/"
                            >John Wood</a
                          ></span
                        >
                      </div>
                    </header>
                    <div class="entry-content">
                      <p></p>
                      <p>
                        My first true love happened when I was a student at Shaw
                        University in Raleigh NC and I must say it was a
                        wonderful experience. She was a freshman, and she was so
                        beautiful with caramel skin and soft dark eyes. She had
                        a sweet slim frame and curves of a finely chiseled piece
                        of clay. Everybody knew her government name, but,
                        eventually they knew her by the name I affectionately
                        called her by, “Blue”.
                      </p>
                      <p>
                        Blue and I shared some really wonderful moments and I
                        can’t even write this without smiling as I think about
                        some of the times we spent together.
                      </p>
                      <p>
                        We would walk through downtown Raleigh holding hands
                        talking and laughing like we were kids. I remember
                        spending my laundry money on a hotel room so that we
                        could have some private time together to share some
                        romance and be intimate.
                      </p>
                      <div class="read-more-button-wrap">
                        <a
                          href="http://nordthemes.com/iceberg/distance-of-365-days/#more-35"
                          class="more-link"
                          >Continue reading
                          <span class="screen-reader-text"
                            >“Memories From the Last Summer”</span
                          ></a
                        >
                      </div>
                    </div>
                  </div>
                </div>
              </article>
              <article
                id="post-33"
                class="post-33 post type-post status-publish format-standard has-post-thumbnail hentry category-inspiration tag-photo tag-travel"
              >
                <a
                  class="post-thumbnail"
                  href="http://nordthemes.com/iceberg/five-romantic-countries-to-visit/"
                  aria-hidden="true"
                >
                  <img
                    width="1200"
                    height="750"
                    src="./img/joshua-earle-234740-unsplash-1200x750.jpg"
                    class="attachment-iceberg-post-thumbnail-crop size-iceberg-post-thumbnail-crop wp-post-image"
                    alt="Five Romantic Countries to Visit"
                    loading="lazy"
                  />
                </a>
                <div class="inner-box">
                  <div class="content-container">
                    <header class="entry-header">
                      <div class="entry-categories">
                        <div class="entry-categories-inner">
                          <span class="screen-reader-text">Categories</span
                          ><a
                            href="http://nordthemes.com/iceberg/category/inspiration/"
                            class="category-21"
                            >Inspiration</a
                          >
                        </div>
                      </div>
                      <h2 class="entry-title">
                        <a
                          href="http://nordthemes.com/iceberg/five-romantic-countries-to-visit/"
                          rel="bookmark"
                          >Five Romantic Countries to Visit</a
                        >
                      </h2>
                      <div class="post-meta">
                        <span class="posted-on"
                          >Posted on
                          <span
                            class="entry-date published"
                            datetime="2018-10-16T10:29:37+00:00"
                            >October 16, 2018</span
                          ></span
                        ><span class="byline author vcard"
                          >by
                          <a
                            class="url fn"
                            href="http://nordthemes.com/iceberg/author/admin/"
                            >John Wood</a
                          ></span
                        >
                      </div>
                    </header>
                    <div class="entry-content">
                      <p>
                        A romantic journey is the best way to fill your
                        relationship with a loved one with new feelings and
                        vivid emotions. This journey will leave only pleasant
                        impressions, and, perhaps, will be the beginning of a
                        new stage of your life together.
                      </p>
                      <h3>Holidays in Spain</h3>
                      <p>
                        Many couples in love choose Spain as a place for solemn
                        registration of marriage or a honeymoon. This country
                        attracts attention with its hot sun and beautiful
                        beaches. Spain is known for its small cozy towns,
                        endless coastline, palm trees, orange gardens, and
                        fascinating history of the state itself. The city of
                        Madrid, which is the capital of Spain, is an ideal place
                        for the best honeymoon.
                      </p>
                      <p>
                        Spain is also a country of contrasts. Noisy Ibiza will
                        be great for lovers of outdoor activities and sleepless
                        nights; Port de Pollen?a will become a paradise for
                        those who want to relax and to spend romantic evenings
                        together. Barcelona is famous for its sights. The city
                        has a huge number of comfortable hotels with rooms for
                        lovebirds and newlyweds. Spain is one of the oldest
                        countries in Europe. So, it always has something to tell
                        you!
                      </p>
                      <div class="read-more-button-wrap">
                        <a
                          href="http://nordthemes.com/iceberg/five-romantic-countries-to-visit/#more-33"
                          class="more-link"
                          >Continue reading
                          <span class="screen-reader-text"
                            >“Five Romantic Countries to Visit”</span
                          ></a
                        >
                      </div>
                    </div>
                  </div>
                </div>
              </article>
              <div class="pagination-wrapper">
                <nav class="navigation pagination" aria-label="Posts">
                  <h2 class="screen-reader-text">Posts navigation</h2>
                  <div class="nav-links">
                    <span aria-current="page" class="page-numbers current"
                      >1</span
                    >
                    <a
                      class="page-numbers"
                      href="http://nordthemes.com/iceberg/page/2/"
                      >2</a
                    >
                    <a
                      class="page-numbers"
                      href="http://nordthemes.com/iceberg/page/3/"
                      >3</a
                    >
                    <a
                      class="next page-numbers"
                      href="http://nordthemes.com/iceberg/page/2/"
                      ><span class="nav-next-text screen-reader-text"
                        >Older Posts</span
                      >
                      <svg
                        class="svg-icon"
                        aria-hidden="true"
                        role="img"
                        focusable="false"
                        xmlns="http://www.w3.org/2000/svg"
                        width="20"
                        height="20"
                        viewBox="0 0 768 768"
                      >
                        <path
                          d="M310.624 598.624l192-192c12.512-12.512 12.512-32.768 0-45.248l-192-192c-12.512-12.512-32.768-12.512-45.248 0s-12.512 32.768 0 45.248l169.376 169.376-169.376 169.376c-12.512 12.512-12.512 32.768 0 45.248s32.768 12.512 45.248 0z"
                        ></path></svg
                    ></a>
                  </div>
                </nav>
              </div>
            </main>
          </div>
        </div>

